.inputgroup{
    display: flex !important;
    align-items: flex-start !important;
    padding-top: 50px;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer{
    display: flex;
    flex-direction: row;
    float: right;
    gap: 1rem;
    margin-top: 50px;

}
.form-label {
    margin: auto 1px;
    padding-right: 1rem;
}

.innerdiv{   
    display:flex;
}

.required-star:after {
    content:" *";
    color: red;
  } 