.inputgroup{
    display: flex !important;
    align-items: start !important;
  padding-top: 50px;
flex-wrap: wrap;
flex-direction: column;



}
.footer{
    display: flex;
    flex-direction: row;
    float: right;
    gap: 1rem;
    margin-top: 50px;

}
.button{
    width: 200px;
    height: 50px;

}
Row{
    margin-top: 30px;
}
.innerdiv{
    
    display:flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 25px;
   


}

